@import "tailwindcss";
body {
  @apply bg-gray-900;
}
/* Or your main CSS file */

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #1f2937 inset !important; /* Tailwind's gray-800 */
  box-shadow: 0 0 0 1000px #1f2937 inset !important;
  -webkit-text-fill-color: #d1d5db !important; /* Tailwind's gray-300 */
  color: #d1d5db !important;
  transition: background-color 5000s ease-in-out 0s;
}